{%extends "base.html"%}
{%load static%}
{%block head%}
<link href="{%static 'css/item/hira.css'%}" media="screen" rel="stylesheet" type="text/css">
{%endblock%}
{%block title%}
List of Shippings
{%endblock%}
{%block content%}
<div class="container">
    <div class="row p-5">
        <div class="col-9">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id Pengiriman</th>
                        <th scope="col">Barang</th>
                        <th scope="col">Review</th>
                        <th scope="col">Tanggal Review</th>
                        <th scope="col" class="anggota-only">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in reviews %}
                    <tr>
                        <th scope="row">{{i.id_pengiriman}}</th>
                        <td> {{i.barang}} </td>
                        
                        <td>{{i.review}}</td>
    
                        <td>{{i.tanggal}}</td>
                        <td>
                            <div class= "anggota-only">
                                <a href="/review/renew"><button type="button" class="btn btn-primary">Update</button></a>
                            </div>
                            <div class="anggota-only">
                                    <button type="button" class="btn btn-danger" data-toggle="modal"
                                    data-target="#m{{i.id_pengiriman}}{{i.barang}}">Delete</button>
                            </div>    
                        </td>
                        </div>
                    </tr>
                     <!-- Modal -->
            <div class="modal fade" id="m{{i.id_pengiriman}}{{i.barang}}" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">DELETE NOTIFICATION</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
    
                            </div>
                            <div class="modal-body">
                                <p>Apakah anda yakin untuk menghapus review tersebut?</p>
                            </div>
                            <div class="modal-footer">
                                <!-- <button type="button" class="btn btn-success" data-dismiss="modal">Ya</button> -->
                                <a href="/review/delete/{{i.id_pengiriman}}/{{i.barang}}" class="btn btn-success">Ya</a>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Tidak</button>
                            </div>
                        </div>
    
                    </div>
                </div>
                    {% endfor %}
                    <!-- <tr>
                        <th scope="row">1</th>
                        <td> Mahkota merk x warna biru </td>
                        <td>Rp.60000</td>
                        <td>20 April 2019</td>
                        <td>
                            <a href="/review/renew"><button type="button" class="btn btn-primary">Update</button></a>
                            <button type="button" class="btn btn-danger" data-toggle="modal"
                                data-target="#myModal">Delete</button>
                        </td>
                    </tr> -->
                </tbody>
            </table>
        </div>
    </div>
    <!-- <div class="row">
        <div class="view">
            <nav aria-label="Page navigation example">
                <ul class="pagination" contenteditable="true">
                    <li class="page-item"><a class="page-link" href="#" style="color : black">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#" style="color : black">1</a></li>
                    <li class="page-item"><a class="page-link" href="#" style="color : black">2</a></li>
                    <li class="page-item"><a class="page-link" href="#" style="color : black">3</a></li>
                    <li class="page-item"><a class="page-link" href="#" style="color : black">4</a></li>
                    <li class="page-item"><a class="page-link" href="#" style="color : black">5</a></li>
                    <li class="page-item"><a class="page-link" href="#" style="color : black">Next</a></li>
                </ul>
            </nav>
        </div>
    </div> -->
    {%if reviews.has_other_pages%}
  <div class="row">
    <div class="view">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          {%if reviews.has_previous %}
          <li class="page-item"><a class="page-link" href="/review/lists/{{reviews.previous_page_number}}">Previous</a></li>
          
          {% endif %}
          {% for i in reviews.paginator.page_range%}
          <li class="page-item"><a class="page-link" href="/review/lists/{{i}}" style="color : black">{{i}}</a></li>
          {% endfor %}
          {% if reviews.has_next %}
          <li class="page-item"><a class="page-link" href="/review/lists/{{reviews.next_page_number}}" style="color : black">Next</a></li>
         
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
  {%endif%}
</div>
{%endblock%}
{%block script%} 
<script>
    if (!localStorage.getItem('login') || localStorage.getItem('role') == 'admin') {
      $('.anggota-only').hide();
    }
</script>
{%endblock%}