{%extends "base.html"%}
{%load static%}
{%block head%}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="{%static 'css/hira/hira.css'%}" media="screen" rel="stylesheet" type="text/css">
<link href="{%static 'css/hira/multi-select.css'%}" media="screen" rel="stylesheet" type="text/css">
<script type = "text/javascript" src = "{% static 'js/review/adiva.js' %}" ></script>
{%endblock%}
{%block title%}
Create Review
{%endblock%}
{%block content%}
<div class="container">
    <div class="row p-5">
        <div class="col-12 form-border">
            <form action="{% url 'review:addReview'%}" method="post" class="p-5">
                <h1 class="text-center font-weight-bold">Tulis Review</h1>
                {%csrf_token%}
                <div class="form-group">
                    <h5>Barang</h5>
                    {{forms.barang}}
                </div>
                <div class="form-group">
                    <h5>Review</h5>
                    {{forms.review}}
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block btn-pink">Submit</button>
                <!-- <button type="button" class="btn btn-primary btn-lg btn-block btn-pink"> Submit </button> -->
            </form>
        </div>
    </div>
</div>
{%endblock%}