{%extends "base.html"%}
{%load static%}
{%block head%}
<link href="{%static 'css/item/hira.css'%}" media="screen" rel="stylesheet" type="text/css">
{%endblock%}
{%block title%}
Update Review
{%endblock%}
{%block content%}
<div class="container">
    <div class="row p-5">
        <div class="text-center">
            <h1 class="font-weight-bold">Update Review</h1>
        </div>
        <div class="col-12 form-border update-item p-5">
            <h5>Barang : Mahkota merk x warna merah</h5>
            <h5>Review : not bad laaah</h5>

            <a href="/barang/daftarbarang"><button type="button" class="btn btn-primary btn-lg btn-block btn-pink">Update</button></a>

        </div>
    </div>
</div>
{%endblock%}