{%extends "base.html"%}
{%load static%}
{%block head%}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="{%static 'css/hira/hira.css'%}" media="screen" rel="stylesheet" type="text/css">
<link href="{%static 'css/hira/multi-select.css'%}" media="screen" rel="stylesheet" type="text/css">
<script type = "text/javascript" src = "{% static 'js/pengiriman/adiva.js' %}" ></script>
{%endblock%}
{%block title%}
Create Shipping
{%endblock%}
{%block content%}
<div class="container">
    <div class="row p-5">
        <div class="col-12 form-border">
            <form action="{%url 'pengiriman:createPengiriman'%}" method="post" class="p-5">
                <h1 class="text-center font-weight-bold">Buat Pengiriman</h1>
                {%csrf_token%}
                <div class="form-group">
                    <h5>Barang Pesanan</h5>
                    {{forms.barang_pesanan}}
                </div>
                <div class="form-group">
                    <h5>Alamat Tujuan</h5>
                    {{forms.alamat}}
                </div>
                <div class="form-group">
                    <h5>Tanggal Pengiriman</h5>
                    {{forms.tanggal}}
                </div>
                <div class="form-group">
                    <h5>Metode</h5>
                    {{forms.metode}}
                </div>
                <!-- <button type="button" class="btn btn-primary btn-lg btn-block btn-pink" data-toggle="modal" data-target="#myModal"> Submit </button> -->
                <div>
                    <!-- <button type="submit" class="btn btn-primary btn-lg btn-block btn-pink">Submit</button> -->
                    <button type="submit" class="btn btn-primary btn-lg btn-block btn-pink" data-toggle="modal"
                                    data-target="#myModal">Submit</button>
                </div>
                <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" align="left;">Confirmation</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-bodya">
                            <p>Apakah anda yakin dengan pengiriman?</p>
                        </div>
                        <div class="modal-footer">
                            <!-- <button type="button" class="btn btn-success" data-dismiss="modal">Lanjutkan</button> -->
                            <a href="/pengiriman/list/1" class="btn btn-success">Lanjutkan</a>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Batalkan</button>
                        </div>
                    </div>

                </div>
            </div>
            </form>
        </div>
    </div>
</div>
{%endblock%}