{%extends "base.html"%}
{%load static%}
{%block head%}
<link href="{%static 'css/item/hira.css'%}" media="screen" rel="stylesheet" type="text/css">
{%endblock%}
{%block title%}
List of Shippings
{%endblock%}
{%block content%}
<div class="container">
    <div class="row p-5">
        <div class="col-9">
            <select id="filter" style="position: relative; left: 100px; top: -5px; width: 240px; height:30px;">
                <option value="volvo">Filter</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
            </select>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id Pengiriman</th>
                        <th scope="col">Daftar Barang - Id Pemesanan</th>
                        <th scope="col">Harga Total</th>
                        <th scope="col">Tanggal Pengiriman</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in daftar_pengiriman %}
                    <tr>
                        <th scope="row">{{i.id_pengiriman}}</th>
                        <td>
                            <ol>{{i.daftar_barang}} - {{i.id_pemesanan}}</ol>
                        </td>
                        <td>{{i.harga_total}}</td>
                        <td>{{i.tanggal}}</td>
                        <td>
                            <a href="/pengiriman/update/{{i.id_pengiriman}}"><button type="button"
                                    class="btn btn-primary">Update</button></a>
                            <div class="anggota-only">
                                <button type="button" class="btn btn-danger" data-toggle="modal"
                                data-target="#m{{i.id_pengiriman}}">Delete</button>
                                <a href="/review/add/"><button type="button" class="btn btn-success">Tulis
                                    Review</button></a>
                            </div>
                        </td>
                    </tr>
                    <!-- Modal -->
                    <div class="modal fade" id="m{{i.id_pengiriman}}" role="dialog">
                            <div class="modal-dialog">
            
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" align="left;">DELETE NOTIFICATION</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Apakah anda yakin untuk menghapus pengiriman tersebut?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <!-- <button type="button" class="btn btn-success" data-dismiss="modal">Ya</button> -->
                                        <a href="/pengiriman/delete/{{i.id_pengiriman}}" class="btn btn-success">Ya</a>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Tidak</button>
                                    </div>
                                </div>
            
                            </div>
                        </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- <div class="row">
        <div class="view">
            <nav aria-label="Page navigation example">
                <ul class="pagination" contenteditable="true">
                    <li class="page-item"><a class="page-link" href="#" style="color : black">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#" style="color : black">2</a></li>
                    <li class="page-item"><a class="page-link" href="#" style="color : black">3</a></li>
                    <li class="page-item"><a class="page-link" href="#" style="color : black">4</a></li>
                    <li class="page-item"><a class="page-link" href="#" style="color : black">5</a></li>
                    <li class="page-item"><a class="page-link" href="#" style="color : black">Next</a></li>
                </ul>
            </nav>
        </div>
    </div> -->
    {%if daftar_pengiriman.has_other_pages%}
  <div class="row">
    <div class="view">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          {%if daftar_pengiriman.has_previous %}
          <li class="page-item"><a class="page-link" href="/pengiriman/list/{{pengiriman.previous_page_number}}">Previous</a></li>
          {% endif %}
          {% for i in daftar_pengiriman.paginator.page_range%}
          <li class="page-item"><a class="page-link" href="/pengiriman/list/{{i}}" style="color : black">{{i}}</a></li>
          {% endfor %}
          {% if daftar_pengiriman.has_next %}
          <li class="page-item"><a class="page-link" href="/pengiriman/list/{{pengiriman.next_page_number}}" style="color : black">Next</a></li>
         
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
  {%endif%}
</div>
{%endblock%}
