{%extends "base.html"%}
{%load static%}
{%block head%}
<link href="{%static 'css/item/hira.css'%}" media="screen" rel="stylesheet" type="text/css">
{%endblock%}
{%block title%}
Update Shipping
{%endblock%}
{%block content%}
<div class="container">
    <div class="row p-5">
        <div class="text-center">
            <h1 class="font-weight-bold">Update Pengiriman</h1>
        </div>
        <div class="col-12 form-border update-item p-5">
            <form action="/pengiriman/update/" method="post" class="p-5">
                <h1 class="text-center font-weight-bold">Buat Pengiriman</h1>
                {%csrf_token%}
                <div class="form-group">
                    <h5>Barang Pesanan</h5>
                    {{forms.barang_pesanan}}
                </div>
                <div class="form-group">
                    <h5>Alamat Tujuan</h5>
                    {{forms.alamat}}
                </div>
                <div class="form-group">
                    <h5>Tanggal Pengiriman</h5>
                    {{forms.tanggal}}
                </div>
                <div class="form-group">
                    <h5>Metode</h5>
                    {{forms.metode}}
                </div>
                <!-- <button type="button" class="btn btn-primary btn-lg btn-block btn-pink" data-toggle="modal" data-target="#myModal"> Submit </button> -->
                <div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block btn-pink">Update</button>
                </div>
            </form>

        </div>
    </div>
</div>
{%endblock%}