{%extends "base.html"%}
{%load static%}
{%block head%}
<link href="{%static 'css/chat/css-barang.css'%}" media="screen" rel="stylesheet" type="text/css">
<style>
.chat-room {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px;
}

.container {
  border: 2px solid #dedede;
  background-color: #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}
</style>

{%endblock%}
{%block title%}
Chat Admin
{%endblock%}
{%block content%}
<div class=" pt-4 chat-room">
<h2>Daftar Chat</h2>

<div class="container">
  <img src="{% static 'media/chat/noavatarn.png'%}" alt="Avatar" class="left" style="width:100%;">
  <p class="font-weight-bold">chat</p>
  <p>Halo, apakah Mahkota Prince Merk X tersedia?</p>
  <span class="time-right">11:00</span>
</div>

<div class="container darker">
  <img src="{% static 'media/chat/noavatarn.png'%}" alt="Avatar" class="left" style="width:100%;">
  <p class="font-weight-bold">Fakhira</p>
  <p>Halo, apakah barang tersedia?</p>
  <span class="time-right">11:01</span>
</div>

<div class="container">
  <img src="{% static 'media/chat/noavatarn.png'%}" alt="Avatar" class="left" style="width:100%;">
  <p class="font-weight-bold">Adiva</p>
  <p>Bagaimana jika saya ingin meminjam barang?</p>
  <span class="time-right">11:02</span>
</div>

<div class="container darker">
  <img src="{% static 'media/chat/noavatarn.png'%}" alt="Avatar" class="left" style="width:100%;">
  <p class="font-weight-bold">Agnes</p>
  <p>Saya ingin meminjam barang</p>
  <span class="time-right">11:05</span>
</div>

{% comment %} <div class="container">
  <p>Tulis Pesan......</p>
</div>
<button type="button" class="btn btn-primary btn-lg btn-block btn-blue">Kirim Pesan</button>
</div> {% endcomment %}
{%endblock%}

