{%extends "base.html"%}
{%load static%}
{%block head%}
<link href="{%static 'css/chat/css-barang.css'%}" media="screen" rel="stylesheet" type="text/css">
<style>
.chat-room {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px;
}

.container {
  border: 2px solid #dedede;
  background-color: #f9dcde;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}
</style>

{%endblock%}
{%block title%}
Chat Anggota
{%endblock%}
{%block content%}
<div class=" pt-4 chat-room">
<h2>Chat Messages</h2>
<div class="data-content">
    {%for i in data%}
    {% if forloop.counter|divisibleby:2%}
    <div class="container darker">
      <img src="{% static 'media/chat/noavatarn.png'%}" alt="Avatar" class="left" style="width:100%;">
      <p>{{i.pesan}}</p>
      <span class="time-left">{{i.datetime}}</span>
    </div>
    
    {%else%}
    <div class="container">
      <img src="{% static 'media/chat/noavatarn.png'%}" alt="Avatar" class="right" style="width:100%;">
      <p>{{i.pesan}}</p>
      <span class="time-right">{{i.datetime}}</span>
    </div>
    {%endif%}
    {%endfor%}    
</div>
<form method="post">
  <div class="container">
      {%csrf_token%}
      {{forms}}
  </div>
  <button type="submit" id="submit" class="btn btn-primary btn-lg btn-block btn-blue">Kirim Pesan</button>
</form>
</div>
{%endblock%}
{%block script%}
<script>

   $("#submit").click(function() {
        event.preventDefault();
        $.ajax({
            headers: {"X-CSRFToken": $("input[name=csrfmiddlewaretoken]").val()},
            url:"/chat/chatanggota",
            data: $("form").serialize(),
            method: 'POST',
            dataType: 'json',
            success: function(data){
              var msg = "<div class=\"container\"><img src=\"{% static 'media/chat/noavatarn.png'%}\" alt=\"Avatar\" class=\"right\" style=\"width:100%;\"><p>" +data.pesan+"</p><span class=\"time-right\">"+data.datetime+"</span></div>"
              $(".data-content").append(msg) 
            }, error: function() {
                swal({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Have you checked your data?',
                    showConfirmButton: false,
                    timer: 2500
                  });
            }
        })
    });
</script>

{%endblock%}
  

