h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Roboto", sans-serif;
}

.form-border {
  background: #ffffff;
  border: 1px solid #605757;
  box-sizing: border-box;
  border-radius: 15px;
}

.form-border-pink {
  background: #ffffff;
  border: 0.7px solid #ea4c5f;
  box-sizing: border-box;
}

.btn-pink {
  background-color: #f9dcde;
  color: #fb7981;
  border: #f9dcde;
}

.btn-pink:hover {
    background-color: #f9dcdeaf;
    color: #FB7981;
    border: #f9dcde;
}

.text-pink {
    color: #FB7981;
}

.navbar-light .navbar-nav .nav-link {
    color:#FB7981;
}