{%extends "base.html"%}
{%load static%}
{%block head%}
<link href="{%static 'css/barang/css-barang.css'%}" media="screen" rel="stylesheet" type="text/css">
{%endblock%}
{%block title%}
Daftar Barang
{%endblock%}
{%block content%}
<div class="container">
  <div class="row p-5">
    <div class="col-12">
      <!-- Modal -->
      <div class="modal fade" id="haha" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Confirmation</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
              <p>Barang berhasil ditandai</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" data-dismiss="modal">Ya</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Tidak</button>
            </div>
          </div>

        </div>
      </div>
      <div class="col-10">

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmation</h4>
              </div>
              <div class="modal-body">
                <p>Apakah anda yakin untuk menghapus pengiriman tersebut?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Ya</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Tidak</button>
              </div>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <select id="filter" style="position: relative; left: -10px; top: -5px; width: 240px; height:30px;">
              <option value="-1">Filter</option>
              <option value="Orange">Orange</option>
              <option value="Indigo">Indigo</option>
              <option value="Green">Green</option>
              <option value="Yellow">Yellow</option>
              <option value="Red">Red</option>
              <option value="Pink">Pink</option>
              <option value="Mauv">Mauv</option>
              <option value="Teal">Teal</option>
              <option value="Crimson">Crimson</option>
              <option value="Blue">Blue</option>
              <option value="pink">pink</option>
              <option value="Purple">Purple</option>
              <option value="Goldenrod">Goldenrod</option>
              <option value="Violet">Violet</option>
              <option value="Turquoise">Turquoise</option>
              <option value="Maroon">Maroon</option>
              <option value="Fuscia">Fuscia</option>
              <option value="Aquamarine">Aquamarine</option>
            </select>
          </div>
          <div class="col-6">
            <select id="sort" style="position: relative; left: -150px; top: -5px; width: 240px; height:30px;">
              <option value="-1">Sorting</option>
              <option value="1">Id barang A-Z</option>
              <option value="2">Id barang Z-A</option>
              <option value="3">Nama item A-Z</option>
              <option value="4">Nama item Z-A</option>
            </select>
          </div>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Id Barang</th>
              <th scope="col">Nama Item</th>
              <th scope="col">Warna</th>
              <th scope="col">Kondisi</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for i in barang %}
            <tr>
              <td>{{ i.id_barang }}</td>
              <td>{{ i.nama_item }}</td>
              <td>{{ i.warna }}</td>
              <td>{{ i.kondisi }}</td>
              <td class="action1">
                <a href="/barang/updatebarang/{{i.id_barang}}"><button type="button"
                    class="btn btn-primary">Update</button></a>
                <button type="button" class="btn btn-danger" data-toggle="modal"
                  data-target="#m{{ forloop.counter }}">Delete
                </button>
              </td>

              <td class="action2">
                <a href="/barang/detailbarang/{{i.id_barang}}"><button type="button"
                    class="btn btn-danger">Detail</button></a>
              </td>

              <td class="action3">
                <input type="checkbox" data-toggle="modal" data-target="#haha">Tandai<br>
              </td>
              <div class="modal fade" id="m{{ forloop.counter }}">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">DELETE NOTIFICATION</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>Apakah anda yakin untuk menghapus pengiriman tersebut?</p>
                    </div>
                    <div class="modal-footer">
                      <a href="{% url 'barang:deletebarang' id_barang=i.id_barang %}" class="btn btn-success">Ya</a>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Tidak</button>

                    </div>
                  </div>
                </div>
              </div>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="view">
        {% if barang.has_other_pages %}
        <ul class="pagination">
          {% if barang.has_previous %}
          <li class="page-item"><a class="page-link"
              href="/barang/daftarbarang/{{ barang.previous_page_number }}">Previous</a></li>
          {%endif%}
          {% for i in barang.paginator.page_range %}
          {% if barang.number == i %}
          <li class="page-item active"><span class="page-link">{{i}}<span class="sr-only">(current)</span></span></li>
          {% else %}
          <li class="page-item"><a class="page-link" href="/barang/daftarbarang/{{ i }}">{{ i }}</a></li>
          {% endif %}
          {% endfor %}
          {% if barang.has_next %}
          <li class="page-item"><a class="page-link" href="/barang/daftarbarang/{{ barang.next_page_number }}">Next</a>
          </li>
          {% endif %}
        </ul>
        {% endif %}
      </div>
    </div>
  </div>
  {%endblock%}

  {%block script%}
  <script>
    if (localStorage.getItem('login')) {
      if (localStorage.getItem('role') == 'admin') {
        $('.action1').show();
        $('.action2').show();
        $('.action3').hide();
      } else {
        $('.action1').hide();
        $('.action2').show();
        $('.action3').show();
      }
    } else {
      $('.action1').hide();
      $('.action2').hide();
      $('.action3').hide();
    }
    $("#filter").change(function () {
      var option = $(this).val();
      if (option != -1) {
        window.location.href = "/barang/daftarbarang/" + option + "/1";
      } else {
        window.location.href = "/barang/daftarbarang/1";
      }
    });

    $("#sort").change(function () {
      var option = $(this).val();
      if (option == 1) {
        window.location.href = "/barang/daftarbarang/id_barang/ASC/1"
      } else if (option == 2) {
        window.location.href = "/barang/daftarbarang/id_barang/DESC/1"
      } else if (option == 3) {
        window.location.href = "/barang/daftarbarang/nama_item/ASC/1"
      } else if (option == 4) {
        window.location.href = "/barang/daftarbarang/nama_item/DESC/1"
      } else {
        window.location.href = "/item/list/1"
      }
    });
  </script>
  {%endblock%}