{%extends "base.html"%}
{%load static%}
{%block head%}
<link href="{%static 'css/barang/css-barang.css'%}" media="screen" rel="stylesheet" type="text/css">
{%endblock%}
{%block title%}
Detail Barang
{%endblock%}
{%block content%}
<div class="container">
    <div class="row p-5">
        <div class="col-12">
            <h1 class="text-center font-weight-bold">Detail Barang</h1>
            <div class=" form-border update-item p-5">
                <h5>Id barang: {{barang.id_barang}}</h5>
                <h5>Deskripsi: {{barang.nama_item}}</h5>
                <h5>Warna: {{barang.warna}}</h5>
                <h5>Url foto: {{barang.url_foto}}</h5>
                <h5>Kondisi: {{barang.kondisi}}</h5>
                <h5>Lama penggunaan: {{barang.lama_penggunaan}}</h5>
                <h5>Pemilik/penyewa: {{barang.no_ktp_penyewa}}</h5>

                {%for i in review%}
                    <h5>Review: {{i.review}}</h5>
                {%endfor%}

                <h4 class="text-center font-weight-bold">Info Barang</h4>
                {%for i in info%}
                    {% if i.nama_level == 'BRONZE' %}
                        <p class="font-weight-bold">Bronze</p>
                        <h5>Persen Royalty: {{i.porsi_royalti}}</h5>
                        <h5>Harga Sewa: {{i.harga_sewa}} Rupiah/minggu</h5>
                    {%endif%}

                    {% if i.nama_level == 'SILVER' %}
                        <p class="font-weight-bold">Silver</p>
                        <h5>Persen Royalty: {{i.porsi_royalti}}</h5>                   
                        <h5>Harga Sewa: {{i.harga_sewa}} Rupiah/minggu</h5>
                    {%endif%}   

                    {% if i.nama_level == 'GOLD' %}
                        <p class="font-weight-bold">Gold</p>
                        <h5>Persen Royalty: {{i.porsi_royalti}}</h5>
                        <h5>Harga Sewa: {{i.harga_sewa}} Rupiah/minggu</h5>
                    {%endif%}
                {%endfor%}
                <a href="/pesanan/listpesanan/1"><button type="button" class="btn btn-primary">Pesan Barang</button></a>
            </div>
        </div>
    </div>
</div>
{%endblock%}