{%extends "base.html"%}
{%load static%}
{%block head%}
<link href="{%static 'css/barang/css-barang.css'%}" media="screen" rel="stylesheet" type="text/css">
{%endblock%}
{%block title%}
Update Barang
{%endblock%}
{%block content%}
<div class="container">
    <div class="row p-5">
        <div class="col-12">
            <h1 class="text-center font-weight-bold">Update Barang</h1>
            <div class="col-12 form-border">
            <form action="" method="post" class="p-5">
                {%csrf_token%}
                <div class="form-group">
                    {{forms.id_barang}}
                </div>
                <div class="form-group">
                    {{forms.nama_item}}
                </div>
                <div class="form-group">
                    {{forms.warna_barang}}
                </div>
                <div class="form-group">
                    {{forms.url_foto}}
                </div>
                <div class="form-group">
                    {{forms.kondisi_barang}}
                </div>
                <div class="form-group">
                    {{forms.lama_penggunaan}}
                </div>
                <div class="form-group">
                    {{forms.pemilik_penyewa}}
                </div>

                <h4 class="text-center font-weight-bold">Info Barang</h4>
                <p>Bronze</p>
                <div class="form-row">
                    <div class="col-6 form-group">
                        {{forms.persen_bronze}}
                    </div>
                    <div class="col-6 form-group">
                        {{forms.sewa_bronze}}
                    </div>
                </div>

                <p>Silver</p>
                <div class="form-row">
                    <div class="col-6 form-group">
                        {{forms.persen_silver}}
                    </div>
                    <div class="col-6 form-group">
                        {{forms.sewa_silver}}
                    </div>
                </div>

                <p>Gold</p>
                <div class="form-row">
                    <div class="col-6 form-group">
                        {{forms.persen_gold}}
                    </div>
                    <div class="col-6 form-group">
                        {{forms.sewa_gold}}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block btn-pink">Update Barang</button>
            </form>
        </div>
        </div>
    </div>
</div>
{%endblock%}