{%extends "base.html"%}
{%load static%}
{%block head%}
<link rel="stylesheet" href="{%static 'css/user/hira.css'%}">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{%endblock%}
{%block title%}
Login
{%endblock%}
{%block content%}
<div class="no-login-only container">
    <div class="row">
        <div class="col-6 pt-5 text-center">
            <img class="img-fluid" src="{% static 'media/toys.jpg'%}">
            <h6 class="font-weight-bold text-gray">S T U F F E D  W I T H</h6>
            <h4 class="font-weight-bold"><span style="color:#FF7F50">T</span><span style="color:#6683CD">O</span><span style="color:#66CDAA">Y</span><span style="color:#B3289C">S </span>
                <span style="color:#FEB4BD">R</span><span style="color: #42E148">E</span><span style="color: #EFDA1F">N</span><span style="color: #FF005C">T</span></h4>
        </div>
        <div class="col-6">
            <div class="row pt-5">
                <div class="col-3"></div>
                <div class="col-9">
                    
                    <form method="post" class="form-pink p-3" action='{% url 'user:login'%}'>
                        <h1 class="text-bold text-center">Login</h1>
                        {%csrf_token%}
                        <div class="form-group">
                            {{forms.no_ktp}}
                        </div>
                        
                        <div class="form-group">
                            {{forms.email}}
                        </div>
                        
                        <button type="submit" class="btn btn-primary btn-lg btn-block btn-pink" id="login">Sign In</button>
                    </form>
                </div>
                
            </div>
            
        </div>
    </div>
</div>
<script>
    $("#login").click(function() {
        event.preventDefault();
        $.ajax({
            headers: {"X-CSRFToken": $("input[name=csrfmiddlewaretoken]").val()},
            url:"/user/login",
            data: $("form").serialize(),
            method: 'POST',
            dataType: 'json',
            success: function(data){
                localStorage.setItem('login', true)
                localStorage.setItem('role', data.role)
                localStorage.setItem('no_ktp', data.no_ktp)
                var ref = data.role == "admin"? "/pesanan/listpesanan/1": "/barang/daftarbarang/1"
                swal({
                    title: "Hello " + data.role ,
                    text: 'You are signed in',
                    icon: 'success',
                    showConfirmButton: false,
                    timer: 2500
                    }).then(function() {
                        window.location = ref
                    });   
            }, error: function() {
                swal({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Have you checked your data?',
                    showConfirmButton: false,
                    timer: 2500
                  }).then(function() {
                      window.location = "/"
                  });
            }
        })
    });
if (localStorage.getItem('login')) {
    $(".no-login-only").hide();
}
</script>
{%endblock%}
