{%extends "base.html"%}
{%load static%}
{%block head%}
<link rel="stylesheet" href="{%static 'css/user/hira.css'%}">
{%endblock%}
{%block title%}
My Profile
{%endblock%}
{%block content%}
<div class="container">
    <!-- no_ktp, nama_lengkap, email, tanggal_lahir, no_telp, poin, level -->
        <div class="row">
            <div class="col-2">
                <img class="img-fluid my-3"src="https://fakeimg.pl/225/">
            </div>
            <div class="col-8 mt-3">
                <h5>Hello,</h5>
                <h1 class="font-weight-bold" id="profile-name">{{data.nama_lengkap}}</h1>
                {% if request.session.role == 'anggota' %}
                <h6 class="text-muted">My points</h6>
                <h3 class="p-0">{{data.poin}}<i class="fas fa-medal {{data.level}}"></i> </h3>
                {%else%}
                <h6 class="text-muted">My Role</h6>
                <h3 class="p-0">ADMIN</h3>
                {%endif%}
                <div class="row">
                    <div class="col-12 p-05 border-pink"></div>
                </div>
                <div class="row my-3">
                    <div class="col-12">
                        <h3 class="font-weight-bold">PROFILE</h3>
                        <p>Nomor KTP: {{data.no_ktp}}</p>
                        <p>Email: {{data.email}}</p>
                        <p>Tanggal Lahir: {{data.tanggal_lahir}}</p>
                        <p>Nomor Telpon: {{data.no_telp}}</p>
                        
                        {% if request.session.role == 'anggota' %}
                        <p class="font-weight-bold">Alamat</p>
                        {%for i in data.alamat%}
                        <p><span class="font-weight-bold">{{forloop.counter}}. {{i.nama}}: </span>{{i.jalan}} {{i.nomor}} {{i.kota}} {{i.kodepos}}</p>
                        {%endfor%}
                        {%endif%}
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock%}