{%extends "base.html"%}
{%load static%}
{%block head%}
<link rel="stylesheet" href="{%static 'css/user/hira.css'%}">
{%endblock%}
{%block title%}
Anggota Register
{%endblock%}
{%block content%}
<div class="container">
    <div class="row">
        <div class="col-6 pt-5 text-center">
            <img class="img-fluid" src="{% static 'media/toys.jpg'%}">
            <h6 class="font-weight-bold text-gray">S T U F F E D  W I T H</h6>
            <h4 class="font-weight-bold"><span style="color:#FF7F50">T</span><span style="color:#6683CD">O</span><span style="color:#66CDAA">Y</span><span style="color:#B3289C">S </span>
                <span style="color:#FEB4BD">R</span><span style="color: #42E148">E</span><span style="color: #EFDA1F">N</span><span style="color: #FF005C">T</span></h4>
        
        </div>
        <div class="col-6">
            <div class="row pt-5">
                <div class="col-3"></div>
                <div class="col-9">
                    
                    <form action="{%url 'user:anggotaRegister'%}" method="POST" class="form-pink p-3">
                        <h1 class="text-bold text-center">Daftar</h1>
                        {% csrf_token %}
                        <div class="form-group">
                            {{forms.no_ktp}}
                        </div>
                        <div class="form-group">
                            {{forms.nama_lengkap}}
                        </div>
                        <div class="form-group">
                            {{forms.email}}
                        </div>
                        <div class="form-group">
                            {{forms.tanggal_lahir}}
                        </div>
                        <div class="form-group">
                            {{forms.no_telp}}
                        </div>
                        
                        <div class="form-row">
                            <div class="col-3 form-group">
                                {{forms.nama_alamat}}
                            </div>
                            <div class="col-7 form-group">
                                {{forms.jalan}}
                            </div>
                            <div class="col-2 form-group">
                                {{forms.nomor}}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-4 form-group">
                                {{forms.kota}}
                            </div>
                            <div class="col-5 form-group">
                                {{forms.kodepos}}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block btn-pink">Sign Up</button>
                    </form>
                </div>
                
            </div>
            
        </div>
    </div>
</div>
{%endblock%}
