input,
textarea {
    color: #ffffff;
}

.bg-pink {
    background-color: #FB7981;
}

.round-user-big {
    background: #C4C4C4;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.GOLD {
    color: #FFDF00;
}

.SILVER {
    color:#C0C0C0;
}
.BRONZE {
    color:#cd7f32;
}

.c-pink {
    color: #FB7981;
}

.text-gray {
    color: #605757;
}

.border-pink {
    background-color: #FB7981;
}

.form-pink {
    background: #FB7981;
    border: 1px solid #CAA8A8;
    box-sizing: border-box;
    border-radius: 15px;
    color: #ffffff;

}

.table {
    border-color: #FB7981;
    margin-left: 15%;
    margin-right: 15%;
}

.form-control-pink {
    border: 1px solid #ffffff;
    background-color: #FB7981;
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #FFF;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #FFF;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #FFF;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #FFF;
}


.update-item {
    line-height: 5px;
}