{%extends "base.html"%}
{%load static%}
{%block head%}
<link href="{%static 'css/item/hira.css'%}" media="screen" rel="stylesheet" type="text/css">
{%endblock%}
{%block title%}
Add Item
{%endblock%}
{%block content%}
<div class="container">
    <div class="row p-5">
        <div class="col-12 form-border">
            <form action="{%url 'item:addItem'%}" method="post" class="p-5">
            <h1 class="text-center font-weight-bold">Tambah Item</h1>
            {%csrf_token%}
            <div class="form-group">
                {{forms.nama}}
            </div>
            <div class="form-group">
                    {{forms.deskripsi}}
            </div>
            <div class="form-group">
                {{forms.bahan}}
            </div>
            <h5>Usia</h5>
            <div class="form-row">
                
                <div class="form-group col-6">
                        {{forms.usia_dari}}
                </div>
                <div class="form-group col-6">
                        {{forms.usia_sampai}}
                </div>
            </div>
            
            <div class="form-group">
                    {{forms.kategori}}
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block btn-pink">Tambah Item</button>
            </form>
        </div>
    </div>
</div>
{%endblock%}
