{%extends "base.html"%}
{%load static%}
{%block head%}
<link href="{%static 'css/item/hira.css'%}" media="screen" rel="stylesheet" type="text/css">
{%endblock%}
{%block title%}
List of Items
{%endblock%}
{%block content%}
<div class="container">
  <div class="row p-5">
    <div class="col-9">
      <div class="row">
        <div class="col-6">
          <select id="filter" style="position: relative; left: 100px; top: -5px; width: 240px; height:30px;">
            <option value="-1">Filter</option>
            <option value="Mainan Motorik">Mainan Motorik</option>
            <option value="Mainan Berwarna">Mainan Berwarna</option>
            <option value="Mainan Rumah">Mainan Rumah</option>
            <option value="Mainan Besar">Mainan Besar</option>
            <option value="Mainan Pantai">Mainan Pantai</option>
            
          </select>
        </div>
        <div class="col-6">
          <select id="sort" style="position: relative; left: -50px; top: -5px; width: 240px; height:30px;">
            <option value="-1">Sorting</option>
            <option value="1">Nama A-Z</option>
            <option value="2">Nama Z-A</option>
            <option value="3">Kategori A-Z</option>
            <option value="4">Kategori Z-A</option>
          </select>
        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            
            <th scope="col">Nama Item</th>
            <th scope="col">Kategori</th>
            
            <th scope="col">Action</th>
            <th class= "admin-only" scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          
          {%for i in data%}
          <tr>
            <th scope="row">{{i.nama_item}}</td>
            <td>{{i.nama_kategori}}</td>
            <td>
                <a href="/barang/daftarbarang/1"><button type="button" class="btn btn-success">Lihat Barang</button></a>
            </td>
            <td class="admin-only">
              <a href="/item/update/{{i.nama_item}}"><button type="button" class="btn btn-primary">Update</button></a>
              <a href="/barang/addbarang"><button type="button" class="btn btn-success">Add Barang</button></a>
              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#m{{forloop.counter}}">Delete</button>
            </td>
            
          </tr>
          <!-- Modal -->
      <div class="modal fade" id="m{{forloop.counter}}" role="dialog">
          <div class="modal-dialog">
  
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Confirmation</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
  
              </div>
              <div class="modal-body">
                <p>Apakah anda yakin untuk menghapus item tersebut?</p>
              </div>
              <div class="modal-footer">
                  <a href="/item/delete/{{i.nama_item}}" class="btn btn-success">Ya</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Tidak</button>
              </div>
            </div>
  
          </div>
        </div>
          {%endfor%}
          
        </tbody>
      </table>
    </div>
  </div>
  
  {%if data.has_other_pages%}
  <div class="row">
    <div class="view">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          {%if data.has_previous %}
          <li class="page-item"><a class="page-link" href="/item/list/{{data.previous_page_number}}">Previous</a></li>
          
          {% endif %}
          {% for i in data.paginator.page_range%}
          <li class="page-item"><a class="page-link" href="/item/list/{{i}}" style="color : black">{{i}}</a></li>
          {% endfor %}
          {% if data.has_next %}
          <li class="page-item"><a class="page-link" href="/item/list/{{data.next_page_number}}" style="color : black">Next</a></li>
         
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
  
  {%endif%}
</div>
{%endblock%}
{%block script%} 
<script>
  if (!localStorage.getItem('login') || localStorage.getItem('role') == 'anggota') {
      $('.admin-only').hide();
  }

  $("#sort").change(function() {
    var option = $(this).val();
    if(option==1){
      window.location.href = "/item/list/nama_item/ASC/1"
    }
    else if(option==2){
      window.location.href = "/item/list/nama_item/DESC/1"
    }
    else if(option==3){
      window.location.href = "/item/list/nama_kategori/ASC/1"
    }
    else if(option==4){
      window.location.href = "/item/list/nama_kategori/DESC/1"
    }
    else{
      window.location.href = "/item/list/1"
    }
  });
  $("#filter").change(function() {
    var option = $(this).val();
    if(option!=-1){
      window.location.href = "/item/list/" + option + "/1";
    }
    else{
      window.location.href = "/item/list/1";
    }
  });
</script>
{%endblock%}