{%extends "base.html"%}
{%load static%}
{%block head%}
<link href="{%static 'css/item/hira.css'%}" media="screen" rel="stylesheet" type="text/css">
{%endblock%}
{%block title%}
Update Item
{%endblock%}
{%block content%}
<div class="admin-only container">
    <div class="row p-5">
        <div class="text-center">
            <h1 class="font-weight-bold">Update Item</h1>
        </div>
        <div class="col-12 form-border update-item p-5">
            <form action="/item/update/{{nama_item}}" method="post" class="p-5">
                {%csrf_token%}
                <div class="form-group">
                    {{forms.nama}}
                </div>
                <div class="form-group">
                        {{forms.deskripsi}}
                </div>
                <div class="form-group">
                    {{forms.bahan}}
                </div>
                <h5>Usia</h5>
                <div class="form-row">
                    
                    <div class="form-group col-6">
                            {{forms.usia_dari}}
                    </div>
                    <div class="form-group col-6">
                            {{forms.usia_sampai}}
                    </div>
                </div>
                
                <div class="form-group">
                        {{forms.kategori}}
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block btn-pink">Update Item</button>
                </form>
        </div>
    </div>
</div>
{%endblock%}
{%block script%} 
<script>
  if (!localStorage.getItem('login') || localStorage.getItem('role') == 'anggota') {
      $('.admin-only').hide();
    }
  </script>
{%endblock%}