{%extends "base.html"%}
{%load static%}
{%block head%}
<link href="{%static 'css/item/hira.css'%}" media="screen" rel="stylesheet" type="text/css">
{%endblock%}
{%block title%}
Add Pesanan
{%endblock%}
{%block content%}
<div class="container">
    <div class="row p-5">
        <div class="col-12 form-border">
            <form action="" method="post" class="p-5">
                <h1 class="text-center font-weight-bold">Tambah Pesanan</h1>
                {%csrf_token%}
                {% if request.session.role == 'admin' %}
                <div class="form-group">
                    {{forms.anggota}}
                </div>
                <div class="form-group">
                    {{forms.barang}}
                </div>
                <div class="form-group">
                    {{forms.lamasewa}}
                </div>
                {% else %}
                <div class="form-group">
                    {{forms.barang}}
                </div>
                <div class="form-group">
                    {{forms.lamasewa}}
                </div>
                {% endif %}
                <button type="button" class="btn btn-primary btn-lg btn-block btn-pink" data-toggle="modal"
                    data-target="#m{{ forloop.counter }}">Tambah Pesanan</button>


                <div class="modal fade" id="m{{ forloop.counter }}">
                    <div class="modal-dialog modal-dialog-centered">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Confirmation</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Apakah anda yakin untuk melakukan pesanan?</p>
                                <p>Total harga: Rp.{{harga}}</p>
                            </div>
                            <div class="modal-footer">
                                <a href="{% url 'pesanan:addPesanan' %}"><button type="submit"
                                        class="btn btn-success">Ya</button></a>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Tidak</button>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{%endblock%}