{%extends "base.html"%}
{%load static%}
{%block head%}
<link href="{%static 'css/item/hira.css'%}" media="screen" rel="stylesheet" type="text/css">
{%endblock%}
{%block title%}
List of Items
{%endblock%}
{%block content%}
<div class="container">
    <div class="row p-5">
        <div class="col-9">

            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Confirmation</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>

                        </div>
                        <div class="modal-body">
                            <p>Apakah anda yakin untuk menghapus pesanan tersebut?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-dismiss="modal">Ya</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Tidak</button>
                        </div>
                    </div>

                </div>
            </div>
            <select id="filter" style="position: relative; left: 100px; top: -5px; width: 240px; height:30px;">
                <option value="-1">Filter</option>
                <option value="SEDANG DIKONFIRMASI">SEDANG DIKONFIRMASI</option>
                <option value="SEDANG DISIAPKAN">SEDANG DISIAPKAN</option>
                <option value="SEDANG DIKIRIM">SEDANG DIKIRIM</option>
                <option value="DALAM MASA SEWA">DALAM MASA SEWA</option>
                <option value="SUDAH DIKEMBALIKAN">SUDAH DIKEMBALIKAN</option>
                <option value="BATAL">BATAL</option>
            </select>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id pesanan</th>
                        <th scope="col">Daftar Barang</th>
                        <th scope="col">Harga</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <!-- <th scope="row">1</th>
                        <td>
                            <ul>
                                <li>Mainan a</li>
                                <li>Mainan b</li>
                                <li>Mainan c</li>
                            </ul>
                        </td>
                        <td>Rp. 50000</td>
                        <td>Menunggu dikirim</td>
                        <td class="action1">
                            <a href="/level/updatepesanan"><button type="button"
                                    class="btn btn-primary">Update</button></a>
                        </td>
                        <td class="action2">
                            <a href="/level/updatepesanan"><button type="button"
                                    class="btn btn-primary">Update</button></a>
                            <button type="button" class="btn btn-danger" data-toggle="modal"
                                data-target="#myModal">Delete</button>
                        </td> -->
                        {% for i in pesanan %}
                        <td>{{ i.id_pemesanan }}</td>
                        <td>{{ i.nama_item }}</td>
                        <td>{{ i.harga_sewa }}</td>
                        <td>{{ i.status }}</td>
                        <td>
                            <a class="action1">
                                {% if i.status == "SEDANG DIKONFIRMASI" or i.status == "SEDANG DISIAPKAN" %}
                                <a href="/pesanan/updatepesanan/{{i.id_pemesanan}}"><button type="button"
                                        class="btn btn-primary">Update</button></a>
                                {% else %}
                                <button type="button" class="btn btn-default">Update</button>
                                {% endif %}
                            </a>
                            <a class="action2">
                                {% if i.status == "SEDANG DIKONFIRMASI" or i.status == "SEDANG DISIAPKAN" %}
                                <button type="button" class="btn btn-danger" data-toggle="modal"
                                    data-target="#m{{ forloop.counter }}">Delete
                                </button>
                                {% else %}
                                <button type="button" class="btn btn-default">Delete</button>
                                {% endif %}

                                <div class="modal fade" id="m{{ forloop.counter }}">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">DELETE NOTIFICATION</h4>
                                                <button type="button" class="close" data-dismiss="modal">&times;
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Apakah anda yakin untuk menghapus pesanan tersebut?</p>
                                            </div>
                                            <div class="modal-footer">
                                                {% if i.status == "SEDANG DIKONFIRMASI" or i.status == "SEDANG DISIAPKAN" %}
                                                <a href="{% url 'pesanan:delete' nama=i.no_urut %}"
                                                    class="btn btn-success">Ya</a>
                                                {% endif %}
                                                <button type="button" class="btn btn-default"
                                                    data-dismiss="modal">Tidak</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {%if pesanan.has_other_pages%}
    <div class="row">
        <div class="view">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {%if pesanan.has_previous %}
                    <li class="page-item"><a class="page-link"
                            href="/pesanan/listpesanan/{{pesanan.previous_page_number}}">Previous</a></li>

                    {% endif %}
                    {% for i in pesanan.paginator.page_range%}
                    <li class="page-item"><a class="page-link" href="/pesanan/listpesanan/{{i}}"
                            style="color : black">{{i}}</a>
                    </li>
                    {% endfor %}
                    {% if pesanan.has_next %}
                    <li class="page-item"><a class="page-link" href="/pesanan/listpesanan/{{pesanan.next_page_number}}"
                            style="color : black">Next</a></li>

                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>

    {%endif%}
</div>

{%endblock%}

{%block script%}
<script>
    if (localStorage.getItem('login')) {
        if (localStorage.getItem('role') == 'admin') {
            $('.action2').hide();
            $('.action1').show();
        } else {
            $('.action2').show();
            $('.action1').show();
        }

    } else {
        $('.action1').hide();
        $('.action2').hide();
    }

    $("#filter").change(function () {
        var option = $(this).val();
        if (option != -1) {
            window.location.href = "/pesanan/listpesanan/" + option + "/1";
        } else {
            window.location.href = "/pesanan/listpesanan/1";
        }
    });
</script>
{%endblock%}