{%extends "base.html"%}
{%load static%}
{%block head%}
<link href="{%static 'css/item/hira.css'%}" media="screen" rel="stylesheet" type="text/css">
{%endblock%}
{%block title%}
Update Item
{%endblock%}
{%block content%}
<div class="container">
    <div class="row p-5">
        <div class="col-12 form-border">
            <form action="" method="post" class="p-5">
                <h1 class="text-center font-weight-bold">Update Pesanan</h1>
                {%csrf_token%}
                {% if request.session.role == 'admin' %}
                <div class="form-group">
                    {{forms.barang}}
                </div>
                <div class="form-group">
                    {{forms.lamasewa}}
                </div>
                <div class="form-group">
                    {{forms.status}}
                </div>
                {% else %}
                <div class="form-group">
                    {{forms.barang}}
                </div>
                <div class="form-group">
                    {{forms.lamasewa}}
                </div>
                {% endif %}
                <button type="submit" class="btn btn-primary btn-lg btn-block btn-pink">Update Pesanan</button>
            </form>

        </div>
    </div>
</div>
{%endblock%}