{%load static%}
<nav id="nav-admin" class="navbar navbar-expand-sm customNavbar" style="background-color:  #f9dcde">
  <strong><a class="navbar-brand" href="#" style="color:#FB7981">Toys Rent</a></strong>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav text-pink">
      <li class="nav-item">
        <a class="nav-link text-pink" href="/user/me">Profile</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link text-pink dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Item
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item text-pink" href="/item/add">Tambah Item</a>
          <a class="dropdown-item text-pink" href="/item/list/1">Daftar Item</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link text-pink dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Barang
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item text-pink" href="/barang/addbarang">Tambah Barang</a>
          <a class="dropdown-item text-pink" href="/barang/daftarbarang/1">Daftar Barang</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link text-pink dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Level
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item text-pink" href="/level/addlevel">Tambah Level</a>
          <a class="dropdown-item text-pink" href="/level/listlevel">Daftar Level</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link text-pink dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Pesanan
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item text-pink" href="/pesanan/addpesanan">Buat Pesanan</a>
          <a class="dropdown-item text-pink" href="/pesanan/listpesanan/1">Daftar Pesanan</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-pink" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Pengiriman
        </a>
        <div class="dropdown-menu text-pink" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item text-pink" href="/pengiriman/create">Buat Pengiriman</a>
          <a class="dropdown-item text-pink" href="/pengiriman/list/1">Daftar Pengiriman</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link text-pink" href="/chat/chatadmin">Chat</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-pink" href="/review/lists/1">Daftar Review</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-pink logout" href="/user/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<nav id="nav-anggota" class="navbar navbar-expand-sm customNavbar" style="background-color:  #f9dcde">
  <strong><a class="navbar-brand" href="#" style="color:#FB7981">Toys Rent</a></strong>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav text-pink">
      <li class="nav-item">
        <a class="nav-link text-pink" href="/user/me">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-pink" href="/item/list/1">Daftar Item</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-pink" href="/barang/daftarbarang/1">Daftar Barang</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link text-pink dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Pesanan
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item text-pink" href="/pesanan/addpesanan">Buat Pesanan</a>
          <a class="dropdown-item text-pink" href="/pesanan/listpesanan/1">Daftar Pesanan</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-pink" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Pengiriman
        </a>
        <div class="dropdown-menu text-pink" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item text-pink" href="/pengiriman/create">Buat Pengiriman</a>
          <a class="dropdown-item text-pink" href="/pengiriman/list/1">Daftar Pengiriman</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link text-pink" href="/chat/chatanggota">Chat</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-pink" href="/review/lists/1">Daftar Review</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-pink logout" href="/user/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<nav id="nav-default" class="navbar navbar-expand-sm customNavbar" style="background-color:  #f9dcde">
  <strong><a class="navbar-brand" href="#" style="color:#FB7981">Toys Rent</a></strong>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav text-pink">
      <li class="nav-item">
        <a class="nav-link text-pink" href="/user/login">Sign in</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-pink" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Sign Up
        </a>
        <div class="dropdown-menu text-pink" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item text-pink" href="/user/anggota/signup">Anggota</a>
          <a class="dropdown-item text-pink" href="/user/admin/signup">Admin</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<script>
  if (localStorage.getItem('login')) {
    if (localStorage.getItem('role') == 'admin') {
      $('#nav-admin').show();
      $('#nav-anggota').hide();
      $('#nav-default').hide();
    } else {
      $('#nav-admin').hide();
      $('#nav-anggota').show();
      $('#nav-default').hide();
    }

  } else {
    $('#nav-admin').hide();
    $('#nav-anggota').hide();
    $('#nav-default').show();
  }
  $(".logout").click(function () {
    localStorage.removeItem('login')
    localStorage.removeItem('role')
    localStorage.removeItem('no_ktp')
  });
</script>