{%extends "base.html"%}
{%load static%}
{%block head%}
<link href="{%static 'css/item/hira.css'%}" media="screen" rel="stylesheet" type="text/css">
{%endblock%}
{%block title%}
List of Level
{%endblock%}
{%block content%}
<div class="container">
    <div class="row p-5">
        <div class="col-9">

            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Confirmation</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>

                        </div>
                        <div class="modal-body">
                            <p>Apakah anda yakin untuk menghapus level tersebut?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-dismiss="modal">Ya</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Tidak</button>
                        </div>
                    </div>

                </div>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Nama Level</th>
                        <th scope="col">Deskripsi</th>
                        <th scope="col">Minimum Poin</th>
                        <th class="action" scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in level %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ i.nama_level }}</td>
                        <td>{{ i.deskripsi }}</td>
                        <td>{{ i.minimum_poin }}</td>
                        <td class="action">
                            <a href="/level/updatelevel/{{i.nama_level}}"><button type="button"
                                    class="btn btn-primary">Update</button></a>
                            <button type="button" class="btn btn-danger" data-toggle="modal"
                                data-target="#m{{ forloop.counter }}">Delete
                            </button>

                            <div class="modal fade" id="m{{ forloop.counter }}">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">DELETE NOTIFICATION</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Apakah anda yakin untuk menghapus level tersebut?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="{% url 'level:delete' nama_level=i.nama_level %}"
                                                class="btn btn-success">Ya</a>
                                            <button type="button" class="btn btn-default"
                                                data-dismiss="modal">Tidak</button>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>
{%endblock%}

{%block script%}
<script>
    if (localStorage.getItem('login')) {
        if (localStorage.getItem('role') == 'admin') {
            $('.action').show();
        } else {
            $('.action').hide();
        }

    } else {
        $('.action').hide();
    }
</script>
{%endblock%}