{%extends "base.html"%}
{%load static%}
{%block head%}
<link href="{%static 'css/item/hira.css'%}" media="screen" rel="stylesheet" type="text/css">
{%endblock%}
{%block title%}
Update Level
{%endblock%}
{%block content%}
<div class="container">
    <div class="row p-5">
        <div class="col-12 form-border">
            <form action="" method="post" class="p-5">
                <h1 class="text-center font-weight-bold">Update Level</h1>
                {%csrf_token%}
                <div class="form-group">
                    {{forms.namalevel}}
                </div>
                <div class="form-group">
                    {{forms.makspoin}}
                </div>
                <div class="form-group">
                    {{forms.deskripsi}}
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block btn-pink">Update Level</button>
            </form>
        </div>
    </div>
</div>
{%endblock%}